<div class="for-flex-wrapper container site-content">
  <i class="fa fa-arrow-circle-left" aria-hidden="true" [routerLink]="['../chat']"></i>
  <div class="a-button-group">
    <a class="button" [routerLink]="['../asanas']">List
    </a>
    <a class="button" [routerLink]="['../admin']"> Create
    </a>
  </div>
  <div class="row">
    <div class="card column" *ngFor="let asana of asanas | async">
      <!-- {{asana | json}} -->

      <div class="text">

        <h5>{{asana.englishName}}</h5>
        <h5>{{asana.sanskritName}}</h5>
        <h6>About</h6>
        <!-- <div class="fab">&#43;</div> -->
        <p>{{asana.about}}</p>

        <h6>Anatomy</h6>
        <p><span *ngFor="let anatomy of asana.anatomies">{{anatomy.anatomy}}</span></p>

        <h6>Ailments</h6>
        <p><span *ngFor="let ailment of asana.ailments">{{ailment.ailment}}</span></p>

        <h6>Avoid if suffering from</h6>
        <p><span *ngFor="let contraindication of asana.contraindications">{{contraindication.contraindication}}</span></p>
        <!-- <ul>
        <h3>Steps</h3>
        <li *ngFor="let step of asana.steps">{{step}}</li>
      </ul> -->
      </div>
    </div>
  </div>
</div>