<div class="container clearfix" id="container"> 
  <div class="chat">
    <div class="chat-header clearfix">
      <img src="../../../assets/bot-icon.png" alt="avatar" />
      
      <div class="chat-about">
        <div class="chat-with">TflyBot</div>
        <div class="chat-num-messages">Helping Flight Onboards.</div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->
    
    <div class="chat-history content">
      <ul>
        <li class="clearfix" *ngFor="let message of messages | async">
          <div class="message-data"  [ngClass]="{ 'align-right': message.sentBy === 'bot'}">
            <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
            <span class="message-data-name" *ngIf="message.sentBy === 'user'">You</span> <i class="fa fa-circle me"></i>
            <span class="message-data-name" *ngIf="message.sentBy === 'bot'"><i class="fa fa-circle online"></i> TFlyBot</span>
          </div>
          <div class="message" [ngClass]="{ 'other-message': message.sentBy === 'bot',
          'my-message':   message.sentBy === 'user' }">
            {{ message.content }}
          </div>
        </li>
        
      </ul>
      
    </div> <!-- end chat-history -->
    
    <div class="chat-message clearfix chat-footer" >
      <input  [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" name="message-to-send"  id="message-to-send" placeholder ="Flight onboarding queries or just a chit-chat" >
        
     
      
      <button (click)="talk()"  class="microphone">
            <i class="fa fa-microphone" aria-hidden="true" *ngIf="talking"></i>
            <i class="fa fa-microphone-slash" aria-hidden="true" *ngIf="!talking"></i>
      </button>
      <button (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

    </div> <!-- end chat-message -->
    
  </div> <!-- end chat -->
  
</div> <!-- end container -->


