/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://cdnjs.com/libraries/normalize);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html, body {
  
}
body {
  display: flex;
  flex-direction: column;
 background: white  ;
 padding: 0;
 margin: 0;
}

ul,li{
    list-style: none
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
 
  font-family:"Roboto", Arial, sans-serif;
  color: #330066;
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
.chat-footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.container {
 

  
}

.chat {
  float: left;
  
  color: #330066;
  width: 100%;
}
.chat .chat-header {
  padding: 5px;
  background: #E0E0E0;
}
.chat .chat-header img {
  float: left;
  height: 45px;
  width: 45px;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
  color: #0084ff;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 14px;
}
.chat .chat-header .chat-num-messages {
  color: #0084ff;
  font-size: 14px;
}
.chat .chat-header .fa-star {
  float: right;
  color: #330066;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 0px 0px;
  height: 84vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 10px;
}
.chat .chat-history .message-data-time {
  color: #212121;
  padding-left: 6px;
  font-size: 10px;
}
.chat .chat-history .message {
  color: #212121;;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 12%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #0084ff;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #0084ff;
  border: 1px solid #0084ff;
  color: #fff;
}
.chat .chat-history .other-message {
  background: #E0E0E0;
  float: left;
  border: 1px solid #E0E0E0;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #E0E0E0;
  left: 90%;
  float: left
}
.chat .chat-message {
  padding: 5px;
  background: #e0e0e0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.chat .chat-message .microphone{
  right: 15px;
}
.chat .chat-message input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  font: 14px/22px "Roboto", Arial, sans-serif;
  margin-bottom: 0px;
  border: 1px solid #e0e0e0;
  resize: none;
  border-radius: 20%;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  cursor: pointer;
}
.chat .chat-message button {
  font-size: 22px;
  border: aliceblue;
  cursor: pointer;
  font-weight: bold;
  background: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
}

.chat .chat-message button:hover {
  color: #330066;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #E0E0E0 !important ;
}

.offline {
  color: #E38968;
  display: none;
}

.me {
  color: #0084ff!important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.fa-volume-up,.fa-volume-off{
  float: right;
  margin: 11px 10px;
  color: #0084ff;
  font-size: 22px;
}

span.message-data-name {
  font-size: 12px;
  color:#212121;
}
.fa {
 
  color: #0084ff;
}